body{
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: "Arial", "sans-serif";
    background-color: #e1f0f8;
    color: #4b4b4b;
}
.page-head{
    position: relative;
    background-color: #ffffff;
    width: 1146px;
    height: 214px;
    margin: 0 auto;
}
.page-head img {
    padding-top: 15px;
    padding-left: 25px;
}
.page-head a:nth-child(2){
    position: absolute;
    font-size: 23px;
    letter-spacing: 1px;
    color: #f36240;
    top: 96px;
    left: 546px;
}
.info-head{
    position: absolute;
    left: 877px;
    top: 72px;
}
.info-head p{
    float: right;
    font-size: 16px;
}
.info-head h2{
    clear: right;
    font-size: 31px;
}
.info-head p, .info-head h2 {
    margin: 0;
}
.info-head p{
    font-size: 16px;
}
.info-head h2{
    font-size: 31px;
}
.head-menu{
    position: absolute;
    padding: 0;
    top: 172px;
    left: 0px;
    list-style: none;
    font-size: 0;
}
.head-menu li{
    display: inline-block;
}
.head-menu a {
    padding: 16px 0;
    font-size: 23px;
    color: #5f6973;
    text-decoration: none;
    border-right: 1px solid #5f6973;
}
.head-menu li:first-child a{
    padding-left: 50px;
    padding-right: 60px;
}
.head-menu li:nth-child(2) a{
    padding-left: 77px;
    padding-right: 92px;
}
.head-menu li:nth-child(3) a{
    padding-left: 26px;
    padding-right: 25px;
}
.head-menu li:nth-child(4) a{
    padding-left: 68px;
    padding-right: 81px;
}
.head-menu li:last-child a{
    border: 0;
    padding-left:55px;
    padding-right: 59px;
}
.head-menu a:hover{
    background-color: #7bc3d5;
    color: #ffffff;
}
.header{
    width: 1146px;
    margin: 0 auto;
}
.header h1{
    margin: 0;
    margin-top: 40px;
    font-size: 64px;
    font-weight: normal;
}
.header p{
    margin:0;
    font-size: 26px;
}
.main-content{
    margin: 35px auto;
    width: 1146px;
}
.recommendation{
    display: block;
    background-color: #ffffff;
    width: 240px;
    height: 470px;
    float: left;
    border-radius: 5px;
}
.recommendation p{
    margin-top: 23px;
    margin-left: 23px;
    font-size: 20px;

}
.recommendation ul{
    padding: 0;
}
.recommendation li{
    list-style: none;
    margin-top: 15px;
    margin-left: 26px;
}
.recommendation li:nth-child(2){
    margin-top: 16px;
}
.recommendation li:nth-child(3), .recommendation li:nth-child(5), .recommendation li:last-child{
    margin-top: 17px;
}
.recommendation li:nth-child(6), .recommendation li:nth-child(9){
    margin-top: 18px;
}
.recommendation a{
    text-decoration: none;
    color: #8a8a8a;
    padding-bottom: 1px;
    border-bottom: 1px solid #8a8a8a;
    cursor: pointer;
}
.recommendation a:hover{
    color: #eb5825;
    border-color: #eb5825;
}
.creating-window{
    display: block;
    background-color: #ffffff;
    margin-left: 26px;
    width: 877px;
    min-height: 611px;
    float: right;
    border-radius: 5px;
}
.creating-window h2{
    margin-top: 27px;
    margin-left: 26px;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: normal;
}
.first-block{
    float: left;
    margin-top: 31px;
    margin-left: 81px;

}
.first-block img{
    width: 200px;
}
.first-block p{
    margin-top: 35px;
    margin-left: 40px;
    font-size: 18px;
    color: #adadad;
}
.second-block{
    float: left;
}
.second-block ul:first-child{
    margin-top: 30px;
    margin-left: 80px;
}
.second-block ul:first-child li{
    color: #ec6434;
    margin-top: 10px;
}
.second-block ul:first-child p{
    margin: 0;
    color: #484848;
    font-size: 14px;
}
.second-block h2{
    margin-top: 35px;
    margin-left: 101px;
    font-size: 20px;
    font-weight: normal;
}
.select{
    margin-top: 22px;
    margin-left: 60px;
    font-size: 0;
}
.select li{
    display: inline-block;
    position: relative;
    height: 59px;
    width: 60px;
    margin-right: 9px;
    cursor: pointer;
}
.select li:first-child{
    background-image:url("../png/example.jpg");
    background-position: 0 0;
}
.select li:nth-child(2){
    background-image:url("../png/example.jpg");
    background-position: -69px 0;
}
.select li:nth-child(3){
    background-image:url("../png/example.jpg");
    background-position: -138px 0;
}
.select li:nth-child(4){
    background-image:url("../png/example.jpg");
    background-position: -207px 0;
}
.select li:nth-child(5){
    background-image:url("../png/example.jpg");
    background-position: -276px 0;
}
.select li:nth-child(6){
    background-image:url("../png/example.jpg");
    background-position: -345px 0;
}
.select li:last-child{
    background-image:url("../png/example.jpg");
    background-position: -414px 0;
}
.check::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    background-image: url("../png/check.svg");
    background-position: -3px -5px;
}
.description{
    margin-top: 25px;
    margin-left: 99px;
    width: 350px;
    font-size: 14px;
}
button{
    background: #eb5825;
    color: #ffffff;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 41px;
    margin-top: 31px;
    margin-left: 100px;
    margin-bottom: 10px;
    cursor: pointer;
}
.second-block a{
    text-decoration: none;
    margin-left: 100px;
    color: #8a8a8a;
    border-bottom: 2px solid #cacaca;
}
.second-block a:hover{
    color: #eb5825;
    border-color: #eb5825;
}
.advice{
    display: block;
    position: relative;
    background: #ffffff;
    border-radius: 5px;
    float: right;
    width: 877px;
    min-height: 481px;
    margin-top: 25px;
}
.advice h2{
    margin-bottom: 0;
    margin-left: 27px;
    font-weight: normal;
    font-size: 26px;
}
.advice h2:first-child{
    margin-top: 30px;
}
.advice ul:nth-child(2){
    list-style: none;
    margin: 0;
    padding: 0;
}
.advice ul:nth-child(2) li{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 121px;
}
.advice ul:nth-child(2) li:first-child::before{
    content: "";
    position: absolute;
    left: 28px;
    height: 56px;
    width: 56px;
    background-image: url("../png/sprites.png");
    background-position: -10px -10px;
}
.advice ul:nth-child(2) li:last-child::before{
    content: "";
    position: absolute;
    left: 28px;
    height: 59px;
    width: 56px;
    background-image: url("../png/sprites.png");
    background-position: -10px -83px;
}
.advice h2:nth-child(3){
    margin-top: 30px;
}
.advice ul:last-child{
    list-style: none;
    margin: 0;
    padding: 0;
}
.advice ul:last-child li{
    margin-left: 78px;
    margin-top: 10px;
    font-size: 14px;
}
.advice ul:last-child li:first-child{
    margin-top: 20px;
}
.advice ul:last-child li:first-child::before{
    content: "";
    position: absolute;
    left: 20px;
    top: 285px;
    height: 40px;
    width: 40px;
    background-image: url("../png/sprites.png");
    background-position: -85px -70px;
}
.advice ul:last-child li:nth-child(2)::before{
    content: "";
    position: absolute;
    left: 20px;
    top: 340px;
    height: 38px;
    width: 39px;
    background-image: url("../png/sprites.png");
    background-position: -146px -10px;
}
.advice ul:last-child li:nth-child(3)::before{
    content: "";
    position: absolute;
    left: 20px;
    top: 390px;
    height: 40px;
    width: 41px;
    background-image: url("../png/sprites.png");
    background-position: -85px -10px;
}
.reviews_caption{
    display: block;
    width: 877px;
    float: right;
}
.reviews_caption h2{
    display: inline-block;
    margin-top: 34px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 26px;
}
.reviews_caption a{
    display: inline-block;
    margin-left: 230px;
    color: #eb5825;
    text-decoration: none;
    border-bottom: 1px solid #eb5825;
}
.reviews{
    display: block;
    position: relative;
    width:877px;
    min-height: 319px;
    float: right;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top:18px;
    margin-bottom: 95px;
}
.reviews p{
    margin: 0;
    margin-left: 26px;
    font-size: 14px;
}
.reviews p:first-child{
    margin-top: 34px;
    font-size: 16px;
}
.signature{
    color: #8a8a8a;
}
.star {
    display: block;
    margin-top: 10px;
    margin-left: 26px;
    width: 76px;
    height: 13px;
    background-image: url("../png/star.svg");
}
.post{
    padding-top: 12px;
}
.reviews a{
    display: block;
    width: 160px;
    margin-top: 20px;
    margin-left: 45px;
    color: #eb5825;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px dashed #eb5825;
}
.reviews a::before{
    content: "";
    position: absolute;
    top:190px;
    left:26px;
    height: 13px;
    width: 13px;
    background-image: url("../png/sprites.png");
    background-position: -146px -68px;
}
.reviews button{
    margin-top: 35px;
    margin-left: 26px;
    font-size: 16px;
    padding: 8px 24px;
}
@media(min-width: 1950px){
    body{
        transform: scale(1.5);
    }
    .page-head{margin-top: 70px;}
}